.line {
  height: 1px;
}

.about-avatar {
  width: 100%;
  height: auto;
}

.bg-about-me {
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 31 / var(--tw-bg-opacity));
}

.border-about-me {
  --tw-border-opacity: 1;
  border-color: rgb(56 56 56 / var(--tw-border-opacity));
  border-width: 1px;
}

.w-10 {
  width: 10%;
}

.bg-opacity-10 {
  --tw-bg-opacity: 0.1 !important;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.card-border {
  border-style: solid;
  border-width: 1px;
}

.drop-shadow-xl {
  --tw-drop-shadow: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03))
    drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
}

.w-65 {
  width: 65%;
}

.h-65 {
  height: 65%;
}

.skill-card {
  max-width: 45px;
  max-height: 45px;
}

.duration-300 {
  transition-duration: 0.3s;
}

.item-tech:hover .tech {
  transform: translateY(-12px);
}

.item-tech-transition {
  transition: transform 0.3s ease;
}

.item-tech:hover .img-tech {
  transform: scale(1.3);
}

.item-tech:hover .status-tech {
  opacity: 1;
}
