/* ANIMATIONS */
html {
  scroll-behavior: smooth;
}
.fadein-top {
  opacity: 0;
  animation: fadeInTop 0.5s forwards;
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadein-left {
  opacity: 0;
  animation: fadeInLeft 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadein-up {
  opacity: 0;
  animation: fadeInUp 0.5s forwards;
  animation-delay: 0.5s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.fadein-right {
  opacity: 0;
  animation: fadeInRight 0.5s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-zoom-in {
  animation: fadeZoomIn 1s ease-in-out;
}

@keyframes fadeZoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fadeins-1 {
  animation-delay: 0.5s;
}

.fadeins-2 {
  animation-delay: 1s;
}

.fadeins-3 {
  animation-delay: 1.5s;
}

.fadeins-4 {
  animation-delay: 2s;
}

.fadeins-5 {
  animation-delay: 2.5s;
}

#nav-menu .ng-enter {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s, transform 0.5s;
}

#nav-menu .ng-enter-stagger {
  animation-delay: 0.3s;
  transition-duration: 0s;
}

#nav-menu .ng-enter.ng-enter-active {
  opacity: 1;
  transform: translateY(0);
}

#bottom-nav .ng-enter {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

#bottom-nav .ng-enter-stagger {
  animation-delay: 0.3s;
  transition-duration: 0s;
}

#bottom-nav .ng-enter.ng-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.ng-fadein-bottom.ng-enter {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s, transform 0.5s;
}

.ng-fadein-bottom.ng-enter-stagger {
  animation-delay: 0.3s;
  transition-duration: 0s;
}

.ng-fadein-bottom.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.hover\:up-card:hover {
  transition: transform 0.3s ease;
  transform: translateY(-8px);
}

.hover\:bg-card:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(40 40 40 / var(--tw-bg-opacity));
}

.button-hover {
  transition: background-color 0.3s, color 0.3s;
}

.hover\:button:hover {
  background-color: #333;
  color: #fff;
}

.button {
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 0.5rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 10px white;
}

.button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 0.5rem;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.transition-btn-click {
  transition: opacity 0.5s ease-in-out;
}
